<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.thumbsup.mapper.ItemLikeCountsMapper">

    <resultMap id="BaseResultMap" type="com.example.thumbsup.model.ItemLikeCounts">
            <id property="targetId" column="target_id" />
            <id property="targetType" column="target_type" />
            <result property="likeCount" column="like_count" />
            <result property="version" column="version" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        target_id,target_type,like_count,version,updated_at
    </sql>
</mapper>
